#edit label {

    display: block;
    padding: 10px 0 0 0;

}

#edit {

    display: block;
    padding: 20px;
    background-color: #fff;
    margin: 20px 0 0 20px;
    border-radius: 5px;
    border-top: 4px solid #00a65a;
    float: left;
    width: auto;

}

#edit input[type='text'] {

    width: 100%;

}

#photo-view {

    display: block;
    width: 50%;
    background-color: #fff;
    margin: 20px 0 0 20px;
    border-radius: 5px;
    border-top: 4px solid #dd4b39;
    float: left;

}

.submit-btn {

    margin-top: 20px;
    background-color: #2e373c;
    border-color: #273035;
    transition: 0.3s;
    color: #fff;

}

.submit-btn:hover {

    background-color: #273035;
    border-color: #273035;
    color: #fff;

}


.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}

.submit-button {
    width: 100%;
    text-align: center;
}

#photo-view .close {

    font-size: 13px;
    padding: 7px;

}

#photo-view hr {
    margin-top: 29px;
}

#photo-view .cropArea {
    margin: 20px;
}

#photo-view .cropArea_1 {
    margin: 0 20px;
}

.loader {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
    position: fixed;
    z-index: 9999999999999999999;
}
.circle {
    border: 16px solid white;
    /* Light grey */

    border-top: 16px solid #3498db;
    /* Blue */

    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    margin: 100px auto;
}