.receipt-link {

    display: block;
    position: relative;
    transition: 0.3s;

}

.receipt-title {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    padding: 5px 10px 5px 10px;


    background: rgba(255, 255, 255, 0.6);
    color: #000;

    font-size: 16px;

}

.receipt-link:hover {

    opacity: 0.8;

}

.receipt-block {

    padding: 15px;

}

.col-divide-4 {

    width: 26.33333333%;
    float: left;

}