#profile {

    margin-top: 70px;

}

#profile .photo {

    display: block;
    width: 100%;
    text-align: center;

}

.user-name {

    display: block;
    width: 100%;
    text-align: center;

}

.user-name h3 {

    color: #333;
    font-size: 28px;
    padding: 5px;
    font-weight: 500;

}