#left-navbar {

    width: 20%;
    min-height: 100%;
    height: auto;
    float: left;
    background-color: #2e373c;
    position: fixed;

}

#content {

    width: 80%;
    min-height: 100%;
    height: auto;
    float: left;
    margin-left: 20%;
    background-color: #ecf0f5;

}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {

    font-family: 'Open Sans', sans-serif;

}

.navbar-info {

    padding: 10px;
    width: 100%;
    float: left;

}

.navbar-info img {

    float: left;

}

.navbar-info .username {

    color: #bbb;
    font-size: 17px;
    padding-left: 10px;
    float: left;
    margin-top: 20px;

}

.email {

    color: #bbb;
    font-size: 14px;
    line-height: 14px;
    padding: 18px 10px;
    float: left;

}

.navbar-items {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.navbar-items .first-element {

    padding: 15px 25px;
    background-color: #1a2226;
    list-style-type: none;
    color: #bfbfbf;
    font-weight: 600;
    border-left: 4px solid #1a2226;
    font-size: 15px;

}

.navbar-items a {

    display: block;
    padding: 15px 25px;
    border-left: 4px solid #2e373c;
    color: #fff;
    transition: 0.3s;

}

.navbar-items a:hover {

    border-left: 4px solid #3c8dbc;
    text-decoration: none;
    color: #fff;
    background-color: #1e282c;

}

.navbar-items a:focus {

    border-left: 4px solid #3c8dbc;
    text-decoration: none;
    color: #fff;
    background-color: #1e282c;

}

.navbar-items .active {

    border-left: 4px solid #3c8dbc;
    text-decoration: none;
    color: #fff;
    background-color: #1e282c;

}


.navbar-items li {

    list-style-type: none;

}

.navbar-items li i {

    font-size: 19px;
    padding-right: 10px;

}

.select-language img {

    background-color: #fff;
    margin: 4px;

}

.select-language {

    margin-left: 25px;
    bottom: 20px;
    position: absolute;
    float: left;

}