#calendar-block {
    width: auto;
    height: 100%;
    margin: 20px;
}

.calendar-table {
    width: 100%;
    max-width: 100%;
}

.calendar-table .thead th {
    text-align: center;
}

.calendar-table .thead th {
    padding: 10px;
    color: #dfdfdf;
    font-size: 12px;
}

.calendar-table .tbody {
    background-color: #fff;
    /*border: 1px solid #fff;*/
}

.calendar-table .thead {
    border: 1px solid #3c5394;
    background-color: #3c5394;
}

.calendar-table .first-line td, .calendar-table .first-line th {
    border: 1px solid #a4a4a4;
    border-bottom-color: #ddd;
}

.calendar-table .second-line td, .calendar-table .second-line th {
    border: 1px solid #a4a4a4;
    border-top-color: #ddd;
}

.calendar-table tbody th {
    color: #3c3a57;
    background-color: #e9e9e9;
    text-align: center;
    padding: 0 20px;
    height: 50px;
}

.calendar-table .thead th {
    width: 14%;
}

.calendar-table tbody td:hover {
    background-color: #BBC8DF;
}

.calendar-table tbody td {
    cursor: pointer;
}

.receipts {
    height: 400px;
}

.scroll {
    height: 100%;
    overflow: auto;
}

.receipt {
    width: 50%;
    float: left;
}

.receipt-link {
    /*width: 50%;
    float: left;*/
    background-color: #f8f8f8;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: #333;
    font-weight: 600;
    font-size: 12px;
}

.receipt-link:hover {
    opacity: 0.8;
}


