.search-panel {

    width: 95%;
    margin: 20px auto;
    background-color: #fff;
    border-top: 4px solid #f39c12;
    border-radius: 6px;
    padding: 0 0 10px 0;

}

.search-panel .header {

    padding: 10px;
    display: inline-block;
    font-size: 18px;
    color: #444;

}

.search-panel hr {

    margin: 0 0 10px 0;

}

.search-panel .input {

    padding: 10px;

}

.search-panel .selected-items .item {

    float: left;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background-color: #f5f5f5;
    margin-right: 10px;

}

.search-panel .selected-items {

    padding: 10px;
    display: block;
    float: left;

}

.search-panel .selected-items .item i {

    cursor: pointer;

}

.search-panel .selected-items .item i:hover {

    color: #000;
    
}

.items .item {

    padding: 10px 10px;
    cursor: pointer;

}

.items .item:hover {

    background-color: #f2f2f2;

}

.items {

    margin: 10px;
    border-top: 3px solid #00a65a;
    width: 30%;
    border-radius: 4px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #fff;

}

.items .item i {

    cursor: pointer;

}

.items .item i:hover {

    color: #0f0f0f;

}

.search-result {

    width: 95%;
    margin: 20px auto;
    background-color: #fff;
    border-top: 4px solid #dd4b39;
    border-radius: 6px;
    padding: 10px 0 10px 0;

}

.search-result .header {

    padding: 0 10px;
    display: inline-block;
    font-size: 18px;
    color: #444;

}

.search-result hr {

    margin: 10px 0 10px 0;

}

.receipt {

    height: 150px;
    display: block;
    margin: 0 10px 0 10px;
    cursor: pointer;
    transition: 0.3s;

}

.receipt img {

    max-height: 100%;
    float: left;

}

.receipt .name {

    color: #333;
    font-size: 18px;
    padding-left: 10px;

}

.receipt .info {

    display: grid;

}

.receipt .calories {

    color: #333;
    font-size: 17px;
    padding-left: 10px;

}

.receipt:hover {

    opacity: 0.8;
    background-color: #f0f0f0;
    text-decoration: none;

}

.ingredients {
    float: left;
}

.search .enough {

    /*position: absolute;*/
    float: left;
    height: 50%;

}

.search .not-enough {

    /*position: absolute;*/
    float: left;
    height: 50%;
    
}

.search .enough .item {

    float: right;
    padding: 10px;
    font-size: 13px;
    height: 100%;

}

.search .enough .item img {

    width: 44px;

}

.search .not-enough .item {

    float: right;
    padding: 10px;
    font-size: 13px;
    height: 100%;

}

.search .not-enough .item img {

    width: 50px;

}

.search p {

    color: #333;

}
.search .ingredients .icons {

    float: left;
    padding: 30px 5px;
    font-size: 30px;
    line-height: 30px;
    color: #00a65a;

}

.search .ingredients .icon-x {
    color: #dd4b39;
}