.navbar-left-fixed {

    position: fixed;
    width: 280px;
    height: 100%;
    background-color: #222d32;
    padding-top: 72px;
    margin-top: -73px;

}

.content-right {

    margin-left: 280px;

}

#navigation {

    margin: 50px 0 0 0;
    padding: 0;

}

#navigation .first-element {

    background-color: #1a2226;
    list-style-type: none;
    padding: 10px;
    color: #bfbfbf;
    font-weight: 600;
    border-left: 4px solid #1a2226;

}

/*#navigation .first-element:hover {*/

    /*background-color: #1a2226;*/
    /*border-left: 4px solid #1a2226;*/

/*}*/

#navigation .main li {

    list-style-type: none;
    padding: 10px;
    font-weight: 500;

    color: #fff;
    border-left: 4px solid #222d32;

}

#navigation .main a i {

    font-weight: 500;
    padding-right: 5px;

}


#navigation .main a:hover {

    text-decoration: none;

}

#navigation .main li:hover {

    background-color: #1e282c;
    border-left: 4px solid #3c8dbc;

}

#new_receipt label {
    display: block;
}

#new_receipt div {
    padding: 10px;
}

#ingredient-form label {
    display: block;
}

#ingredient-form div {
    padding: 2px;
}
