.log-in-form {

    margin: 100px 0 100px 0;

}

.checkbox-label {

    line-height: 25px;

}

.checkbox-label input {
    margin-right: 5px;
}

.log-in-form button {
    color: #fff;
    opacity: 0.8;
    font-size: 16px;
    transition: 0.3s;
    line-height: 16px;
    font-weight: 500;
    padding: 10px 8px;
    float: left;
    text-decoration: none;
    background-color: #5d5d5d;
    display: block;
    border-radius: 5px;
    border: 1px solid #898989;
}

.log-in-form button:hover {

    opacity: 1;
    color: #fff;

}
