.nopadding {
    padding: 0 0 0 15px;
}

.category-title {

    color: #333;

}

.category-title span {
    position: relative;
    background-color: #fff;
    padding: 0 10px;
}

.dotted-line {
    margin-top: 14px;
    position: absolute;
    border-top: 2px dotted #bbb;
    width: 96%;
}

.item-list {
    width: 100%;
}

.item-list-link {

    width: 100%;
    display: block;

    padding: 10px 20px;
    border-bottom: 1px solid #ddd;

    text-decoration: none;
    font-size: 15px;
    font-weight: 400;

    color: #555;
    transition: 0.2s;

}

.item-list-link:hover {
    background-color: #f5f5f5;
    text-decoration: none;
    color: #555;
}

.receipt-link {

    display: block;
    position: relative;
    transition: 0.3s;

}

.receipt-title {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0;
    padding: 5px 10px 5px 10px;


    background: rgba(255, 255, 255, 0.6);
    color: #000;

    font-size: 20px;

}

.receipt-title-small{
    font-size: 16px;
}

.receipt-link:hover {

    opacity: 0.8;

}

.receipt-block {

    padding: 15px;

}

.receipt-img {
    width: 100%;
}

.home-top {
    margin-bottom: 80px;
}

.login-in-title hr {

    margin: 10px 0 10px 0;
    border-bottom: 1px solid #bbb;

}

.login-in-title {
    color: #333;
}

.login-in-title a:hover {

    text-decoration: none;

}

.log-in-content label {
    float: left;
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
    line-height: 15px;
    font-weight: 600;
    color: #2e373c;
}


.log-in-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.login-in-title {
    margin-top: 50px;
}

.log-in-content button {
    background-color: #5a5a5a;
    color: #fff;
    opacity: 0.8;
    transition: 0.3s;
}

.log-in-content button:hover {

    color: #fff;
    opacity: 1;

}

.all-receipts-button {

    margin-bottom: 50px;

}

