#header-top {
    background-color: #2e373c;
    height: 100px;
}

.icons-title {

    color: #fff;
    font-size: 15px;
    opacity: 0.8;
    font-weight: 500;


}

.icons a i {

    color: #fff;
    opacity: 0.8;
    font-size: 30px;

    transition: 0.2s;


    padding: 6px;

}

.icons a:hover i {

    opacity: 1;

}

.icons a:hover {
    text-decoration: none;
}

#icons-bar {
    height: 64px;
    padding: 18px 0;
}

#logo a{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;

    padding: 30px 0;

    text-decoration: none;
    display: block;

}

#logo {

    padding: 0;

}

.navbar {

    background-color: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;

}

#category-list li {

    list-style-type: none;
    float: left;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    padding: 15px 8px;

}

#category-list a {
    float: left;
    height: 50px;
    transition: 0.3s;
}


#category-list a:hover {

    background-color: #eee;

}

#search i {
    font-size: 25px;
    color: #333;
}

#search .submit {

    background: #fff;
    border: 1px solid #ccc;
    height: 34px;

    border-bottom-right-radius: 0;
    border-top-right-radius: 4px;
    padding: 3px 7px;
    transition: 0.2s;

}

#search .submit:hover {

    background-color: #eee;

}

#search input {

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    border-right: 0px;

    float: left;
    width: 250px;

    color: #333;

}

#search {
    padding: 8px 0;
}

#footer {

    background-color: #2e373c;
    height: 100px;

}

.copy {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #fff;
    padding: 20px 0 0 0;

}

#my-cabinet a {

    color: #fff;
    /*opacity: 0.8;*/
    font-size: 16px;
    transition: 0.2s;
    line-height: 16px;
    padding: 10px 6px;
    float: left;
    text-decoration: none;
    /*background-color: #ffffff;*/
    display: block;
    border-radius: 4px;
    border: 1px solid #fff;
    font-weight: 500;

}
#my-cabinet a:first-child {
    margin-right: 5px;
    background-color: #ffffff;
    color: #2e373c;
}


#my-cabinet {
    display: block;
    float: left;
    padding: 32px 0;
}

#my-cabinet a:hover {
    text-decoration: none;
}


input {

    font-weight: 600;

}

.search-result {

    position: absolute;
    /*width: 287px;*/
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 1;
    background-color: #fff;
    margin-top: 34px;
    width: 289px;

}

#search .search-result a {

    height: 40px;
    width: 100%;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 0;
    text-align: center;

}

#search .search-result a:hover {

    text-decoration: none;

}