.article-header span {
    
    font-size: 30px;
    color: #333;
    
}

.article-header hr {

    margin: 10px 0 20px 0;

}

.article-header img {

    width: 100%;
    border-radius: 7px;

}

.ingredients div {
    float: left;
}

.ingredients img {

    padding: 7px;

}

.ingredients-title span {
    position: relative;
    background-color: #fff;
    padding: 0 10px;
}

.dotted-line {
    margin-top: 14px;
    position: absolute;
    border-top: 2px dotted #bbb;
    width: 96%;
}

.ingredients-title {
    margin-top: 38px;
}

.panel {
    background: #f8f8f8;
}

.ingredients-list {

    color: #333;
    font-size: 18px;
    font-weight: 500;

}

.ingredients-list strong {

    margin-left: 20px;

}

.preparing {

    text-align: justify;
    color: #333;
    margin-bottom: 50px;

}

.preparing p {

    font-size: 16px;

}

.ingredients a:hover img{

    opacity: 0.8;

}

.ingredients a img {
    transition: 0.3s;
}

.favourite-star {

    color: #ffcf00;

}

.favourite-star:hover {

    color: #ffcf00;

}

.favourite-star:focus {

    color: #ffcf00;

}

.ingredients div a p {

    color: #333;
    text-align: center;
    font-size: 13px;

}

.ingredients a:hover {

    text-decoration: none;

}

.calories {

    width: 100%;
    text-align: center;
    border-radius: 7px;
    background-color: #f8f8f8;
    margin-top: 15px;

}

.calories span {

    color: #333;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    display: block;

}

.article-header .favourite-added {

    font-size: 15px;
    color: #535353;

}

